.mic {
  display: flex;
  justify-content: center;
  height: 19px;
  padding: 5px 15px;
  /*==== FONT ====*/
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 1.3px;
  text-transform: capitalize;
}
/*=============CONTAINER=============*/
.container {
  display: flex;
  width: 100%;
  background: #000;
  color: antiquewhite;
  height: 70px;
  padding: 13px 0;
}
/*=============MENU============*/
.menu {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-transform: uppercase;
}

.menu > .options {
  display: flex;
  gap: 1.5rem;
  /*=== FONT ====*/
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 1.3px;
}

.logo {
  display: flex;
  width: 252px;
  margin-left: 50px;
}

.menu {
  display: flex;
}
/* ============= ICONS MENU ==============*/
.person {
  display: flex;
  margin-right: 50px;
  margin-top: 16px;
  height: autp;
  gap: 1rem;
}

.person > .login {
  display: flex;
  width: 34px;
  height: 26px;
}
.person > .search {
  display: flex;
  width: 34px;
  height: 26px;
}
.person > .shop {
  display: flex;
  width: 34px;
  height: 26px;
}

.home {
  display: flex;
}

.banner {
  display: flex;
  width: 100%;
}
